obj/
bin/
packages/
WIPAT/.vs/WIPAT/copilot-chat/
WIPAT/.vs/WIPAT/CopilotIndices/

WIPAT/.vs/WIPAT/copilot-chat/c45693eb/sessions/
WIPAT/.vs/WIPAT/CopilotIndices/17.14.1147.5054/
WIPAT/.vs/WIPAT/v17/
WIPAT/.vs/WIPAT/FileContentIndex/

WIPAT/.vs/WIPAT/v17/.suo
WIPAT/.vs/WIPAT/v17/DocumentLayout.backup.json
WIPAT/.vs/WIPAT/v17/DocumentLayout.json